.locations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F6F6F6;
    margin-top: 2rem;
    border-radius: 25px;
    padding: 2rem;
}

article {
    width: calc(1400px / 2.7);
    margin-bottom: 2rem;
}

.thumb {
    position: relative;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumb .thumb-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.thumb h2 {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    padding: 1rem;
}