/** Global css **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

/** Variables **/
:root {
  --main-color: #FF6060;
}


/** Homepage **/
header,
main {
  padding: 0 5rem;
}

@media(max-width: 610px) {
  header,
  main {
    padding: 0 1rem;
  }
}