nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
}


nav a {
    text-decoration: none;
    color: var(--main-color);
    font-weight: 500;
    font-size: 24px;
}

nav a:first-child {
    margin-right: 2rem;
}

.App-logo {
    width: 210.32px;
    height: 68px;
}

@media(max-width: 610px) {
    .App-logo {
        width: 145px;
        height: 47px;
    }

    nav a {
        font-size: 14px;
        text-transform: uppercase;
    }
}